src/index.pug
extends layouts/base

block title
    - var currentPage = "menu_home"
    title ICG BULLION

block main
    main#main
        .container
            .intro-block
                .caption
                    h1 Trading Bullion Has Never Been Easier!
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                    button.btn.dark-btn(type="button") Try Now
                .intro-img
                    img(src="images/img1.png" alt="intro image")
            .caption
                h2 Features
                p.dark-color A rock-solid bullion trading platform with industry-leading features to match!
            .two-column
                .col
                    img(src="images/img2.png" alt="image")
                .col
                    ul.features-list
                        li
                            .icon
                                img(src="images/ic-login.svg" alt="intro image" width="24" height="23")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                        li
                            .icon
                                img(src="images/ic-graph.svg" alt="intro image" width="24" height="24")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                        li
                            .icon
                                img(src="images/ic-pie-chart.svg" alt="intro image" width="24" height="24")
                            .text
                                strong Robust Platform
                                p Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.
                    button.btn.dark-btn(type="button") Try Now

        .gray-bg-section
            .form-frame
                .col
                    h2 Keep In Touch
                    p Shoot us a line if you have any questions or would like to chat!
                    form(action="#")
                        .form-row
                            .form-col
                                label.label First Name
                                input(type="text" placeholder="Your first name")
                            .form-col
                                label.label Last Name
                                input(type="text" placeholder="Your last name")
                        .form-row
                            .form-col
                                label.label Email Address
                                input(type="email" placeholder="Your email address")
                        .form-row
                            .form-col
                                label.label Message
                                textarea(placeholder="Your message")
                        .form-btn-row
                            button.btn(type="submit") Send
                            ul.social-networks
                                li
                                    a(href="" + static_link)
                                        img(src="images/twitter.svg" alt="icon" width="18" height="15")
                                li
                                    a(href="" + static_link)
                                        img(src="images/facebook.svg" alt="icon" width="18" height="18")
                .col

html/index.html
<!DOCTYPE html>
<html>
  <head>
    <title>ICG BULLION</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" media="all" href="css/all.css">
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <header id="header">
          <div class="container">
            <div class="logo"><a href="index.html"><img src="images/ic-logo.svg" alt="icg bullion" width="120" height="32"></a></div>
            <nav id="nav">
              <input id="check-menu" type="checkbox">
              <div class="menu-holder">
                <label class="close-btn" for="check-menu"></label>
                <ul class="menu">
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Product Quotes</a></li>
                  <li><a href="#">Keep in Touch</a></li>
                </ul>
                <button class="btn" type="button">Sign In</button>
              </div>
              <label class="toogle-menu" for="check-menu"><span class="t"></span><span class="c"></span><span class="b"></span></label>
              <label class="nav-overlay" for="check-menu"></label>
            </nav>
          </div>
        </header>
        <main id="main">
          <div class="container">
            <div class="intro-block">
              <div class="caption">
                <h1>Trading Bullion Has Never Been Easier!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                <button class="btn dark-btn" type="button">Try Now</button>
              </div>
              <div class="intro-img"><img src="images/img1.png" alt="intro image"></div>
            </div>
            <div class="caption">
              <h2>Features</h2>
              <p class="dark-color">A rock-solid bullion trading platform with industry-leading features to match!</p>
            </div>
            <div class="two-column">
              <div class="col"><img src="images/img2.png" alt="image"></div>
              <div class="col">
                <ul class="features-list">
                  <li>
                    <div class="icon"><img src="images/ic-login.svg" alt="intro image" width="24" height="23"></div>
                    <div class="text"><strong>Robust Platform</strong>
                      <p>Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><img src="images/ic-graph.svg" alt="intro image" width="24" height="24"></div>
                    <div class="text"><strong>Robust Platform</strong>
                      <p>Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.</p>
                    </div>
                  </li>
                  <li>
                    <div class="icon"><img src="images/ic-pie-chart.svg" alt="intro image" width="24" height="24"></div>
                    <div class="text"><strong>Robust Platform</strong>
                      <p>Built from the ground up, our trading platform gives you full control over all of your bullion buying and selling activities. No restrictions.</p>
                    </div>
                  </li>
                </ul>
                <button class="btn dark-btn" type="button">Try Now</button>
              </div>
            </div>
          </div>
          <div class="gray-bg-section">
            <div class="form-frame">
              <div class="col">
                <h2>Keep In Touch</h2>
                <p>Shoot us a line if you have any questions or would like to chat!</p>
                <form action="#">
                  <div class="form-row">
                    <div class="form-col">
                      <label class="label">First Name</label>
                      <input type="text" placeholder="Your first name">
                    </div>
                    <div class="form-col">
                      <label class="label">Last Name</label>
                      <input type="text" placeholder="Your last name">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-col">
                      <label class="label">Email Address</label>
                      <input type="email" placeholder="Your email address">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-col">
                      <label class="label">Message</label>
                      <textarea placeholder="Your message"></textarea>
                    </div>
                  </div>
                  <div class="form-btn-row">
                    <button class="btn" type="submit">Send</button>
                    <ul class="social-networks">
                      <li><a href="#"><img src="images/twitter.svg" alt="icon" width="18" height="15"></a></li>
                      <li><a href="#"><img src="images/facebook.svg" alt="icon" width="18" height="18"></a></li>
                    </ul>
                  </div>
                </form>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </main>
      </div>
      <footer id="footer">
        <div class="container">
          <div class="footer-top">
            <div class="logo"><a href="index.html"><img src="images/ic-logo.svg" alt="icg bullion" width="120" height="32"></a></div>
            <ul class="footer-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">Product Quotes</a></li>
              <li><a href="#">Keep In Touch</a></li>
            </ul>
            <button class="btn dark-btn" type="button">Login</button>
          </div>
          <div class="footer-bottom"><span class="copyright">&#169; Copyright 2013 ICG Bullion Inc. All rights reserved.</span><span class="author">Design & Development  —<img src="images/itmint.svg" alt="itmint" width="68" height="12"></span></div>
        </div>
      </footer>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.plugins.min.js"></script>
    <script src="js/jquery.main.js"></script>
  </body>
</html>
